<div id="navbar-main">
  <!-- Fixed navbar -->
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <div class="header_icon" type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <p class="menu_box"><img src="assets/menu2.png" height="40px" width="40px"></p>
        </div>
        <!-- <a class="navbar-brand hidden-xs hidden-sm" href="#home"><span class="icon icon-shield" style="font-size:18px; color:#3498db;"></span></a> -->
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li> <%= link_to 'Home', root_path, class: "smoothScroll" %></li>
          <li> <a href="/#about" class="smoothScroll"> About</a></li>
          <li> <%= link_to 'Rooms/Booking', bookings_path, class: "smoothScroll" %></li>
          <li> <a href="/#team" class="smoothScroll"> Team</a></li>
          <li> <a href="/#blog" class="smoothScroll"> Reviews</a></li>
          <li> <a href="/#access" class="smoothScroll"> Access</a></li>
          <li> <a href="https://www.facebook.com/TETRISGuestHouseJujo/?fref=ts" class="smoothScroll" target="_blank"> Facebook</a></li>
          <li> <a href="/#contact" class="smoothScroll"> Contact</a></li>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<div class="container">
  <div class="confirm_wrapper">

    <div class="page-header">
      <h1>お問い合わせを受け付けました</h1>
    </div>

    <p class="thanks_contact">お問い合わせいただきありがとうございました。</p>
    <p class="thanks_contact">後ほど担当者よりご連絡いたしますのでしばらくお待ちくださいませ。</p>

  </div>
</div>