.wrap{
overflow: hidden;
}

.gc_wrapper {
  max-width: 800px;
  min-width: 300px;
  margin: 2.0833% auto;
}

.responsive-iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
.responsive-iframe-container iframe,
.responsive-iframe-container object,
.responsive-iframe-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 600px) {
    .big-container {
        display: none;
    }
    .small-container {
       padding-bottom: 200%;   /* 高さ */
    }
}
@media (min-width: 600px) {
    .small-container {
        display: none;
    }
}

@media (min-width: 600px) {
    .map-small-container {
        display: none;
    }
}

.booking_form{
  max-width:900px;
  margin:0 auto;
  padding:30px;
}

#top_contact{
  padding-top:0;
}

@media (max-width: 1200px){
  .contact_info{
      width: 70%;
      margin: 0 auto 50px;
      text-align:center;
  }
  #top_contact{
      width:60%;
      padding:0;
  }
  .hiring_box{
      margin: 0 auto;
  }
}

@media (max-width: 900px){
  #top_contact{
      width:95%;
  }
  .confirm_wrapper{
      width: 95%;
  }
}

.retype_page{
  margin-top: 50px;
}

.page-header h1{
  text-align: center;
}

.confirm_wrapper{
    margin: 100px auto 50px;
}

@media (min-width: 901px){
  .confirm_wrapper{
      width:60%;
  }
}

.thanks_contact{
  text-align: center;
}

.left_blog{
  padding-right: 0px;
  padding-left: 0px;
}

.right_blog{
  padding-right: 0px;
  padding-left: 0px;
}

.left_blog_content{
  min-height: 393px;
}

@media (max-width: 1200px){
  .left_blog_content{
      min-height: 10px;
  }
}

#access_text{
  padding-top: 0px;
  margin-top: 0px;
}

#team{
  margin-bottom: 50px;
}

.price_table{
  margin-top: 40px;
  margin-bottom: 70px;
}

#footerwrap h4{
  font-weight: 200;
}
















